*{
    margin: 0;
    padding: 0;
}
a{
    color: rgb(0, 116, 248);
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: monospace;
    background-color: #101720;
    color: white;
    overflow: hidden;
}
.login{
    box-sizing: border-box;
    height: 30rem;
    width: 40rem;
    padding: 50px 0;
    padding-right: 20rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: url(../../assets/backgound.jpg);
    background-size: cover;
    animation: upndown 10s infinite;
    box-shadow: 0 0 50px rgba(0, 136, 255, 0.08);
}
.title{
    font-weight: 100;
    letter-spacing: 5px;
    text-shadow: 0 0 10px rgb(1, 136, 255);
}
.inputContainer{
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inputdiv{
    position: relative;
}
.inputdiv::before{
    content: "";
    height: 1px;
    width: 150px;
    background: linear-gradient(90deg, rgba(0,136,255,0) 0%, rgb(0, 170, 255) 50%, rgba(0,136,255,0) 100%);
    position: absolute;
    top: 100%;
    left: 100%;
    opacity: 0;
    transition: .3s;
}
input{
    box-sizing: border-box;
    width: 15rem;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #000622a3;
    color: white;
    font-family: monospace;
    padding: 0.5rem;
    transition: .3s;
}
input:focus{
    border: none;
    outline: none;
}
#pass{
    padding-right: 25px;
}
label{
    position: absolute;
    top: 50%;
    transform: translate(3px, -50%);
    left: 0;
    transition: 0.2s ease-in-out;
}
.show{
    position: absolute;
    right: 0;
    border: 0;
    background-color: transparent;
    top: 50%;
    transform: translate(-3px, -50%);
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: .5s;
    padding: 5px;
}
.show:focus{
    outline: none;
    box-shadow: 0 0 10px rgba(0, 137, 161, 0.582), inset 0 0 5px rgba(0, 137, 161, 0.582);
}
.inputdiv:has(input:focus)::before{
    left: 0;
    opacity: 1;
}
input:hover+label,
input:focus+label,
input:valid+label{
    top: -0.5rem;
}


.loginButton{
    padding: 10px 30px;
    background-color: transparent;
    color: rgb(0, 140, 255);
    border: none;
    position: relative;
    transition: .5s .5s;
    cursor: pointer;
}
.buttonBackground{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 3px rgba(0,170,255,0.85) double;
    border-radius: 5px;
    transition: .5s ease-in;
    clip-path: polygon(0 0,10% 0, 10% 50%, 90% 50%, 90% 0, 100% 0, 100% 100%, 90% 100%, 90% 50%, 10% 50%, 10% 100%, 0 100%);
}
.loginButton:hover,
.loginButton:focus{
    outline: none;
    box-shadow: 0 0 10px inset rgba(0,170,255,0.76);
}
.loginButton:focus .buttonBackground,
.loginButton:hover .buttonBackground{
    border: 3px rgba(0,140,255,0.85) double;
    clip-path: polygon(0 0,50% 0, 50% 50%, 50% 50%, 50% 0, 100% 0, 100% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 100%, 0 100%);
}

.circle{
    height: 700px;
    width: 700px;
    position: absolute;
    z-index: -1;
    mask-image: url(../../assets/mask-image.png);
    -webkit-mask-image: url(../../assets/mask-image.png);
    mask-size: cover;
    -webkit-mask-size: cover;
    border-radius: 50%;
    animation: rotate 20s infinite linear;
    display: block;
    place-items: center;
    /* background: linear-gradient(rgb(135, 135, 0) 0%, rgba(115, 141, 0, 0.44) 25%, rgb(135, 135, 0) 50%, rgba(141, 129, 0, 0.456) 75%, rgb(189, 189, 46) 100%); */
    opacity: 0.3;
}
.circle::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(../../assets/yellow.jpeg);
    animation: rotate 20s infinite linear;
    background-size: cover;
    filter: hue-rotate(210deg);
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    z-index: -1;
    backdrop-filter: blur(150px);
}


@keyframes upndown {
    0%{background-position: 0% 0%;}
    50%{background-position: 10% 10%;}
    100%{background-position: 0% 0%;}

}


@keyframes rotate {
    0%{
        rotate: 0;
    }
    100%{
        rotate: 360deg;
    }
}