*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: monospace;
    background-color: #101720;
    color: white;
    overflow: hidden;
}

.circle{
    height: 700px;
    width: 700px;
    position: absolute;
    z-index: -1;
    mask-image: url(../../assets/mask-image.png);
    -webkit-mask-image: url(../../assets/mask-image.png);
    mask-size: cover;
    -webkit-mask-size: cover;
    border-radius: 50%;
    animation: rotate 20s infinite linear;
    display: block;
    place-items: center;
    /* background: linear-gradient(rgb(135, 135, 0) 0%, rgba(115, 141, 0, 0.44) 25%, rgb(135, 135, 0) 50%, rgba(141, 129, 0, 0.456) 75%, rgb(189, 189, 46) 100%); */
    opacity: 0.3;
}
.circle::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(../../assets/yellow.jpeg);
    animation: rotate 20s infinite linear;
    background-size: cover;
    filter: hue-rotate(210deg);
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    z-index: -1;
    backdrop-filter: blur(150px);
}

@keyframes rotate {
    0%{
        rotate: 0;
    }
    100%{
        rotate: 360deg;
    }
}